# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage and test artifacts
coverage/
.nyc_output/

# OS / Editor extras
.DS_Store
Thumbs.db
.vscode/
*.swp
*.swo

# Desktop app artifacts
prod/*
prod.zip
res/*
src/__pycache__